<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AureliaX4">

    <xacro:include filename="$(find x4_description)/urdf/x4_material.xacro"/>
    <xacro:include filename="$(find x4_description)/urdf/sensors.xacro"/>
    <xacro:include filename="$(find x4_description)/urdf/x4.xacro"/> 
    <xacro:include filename="$(find x4_description)/urdf/gazebo.xacro"/> 

    <xacro:x4/> 
    

</robot>
